<% content_for :title, "Editing quote relation" %>

<h1>Editing quote relation</h1>

<%= render "form", admin_quote_relation: @admin_quote_relation %>

<br>

<div>
  <%= link_to "Show this quote relation", @admin_quote_relation %> |
  <%= link_to "Back to quote relations", admin_quote_relations_path %>
</div>
