<p style="color: green"><%= notice %></p>

<% content_for :title, "Quote relations" %>

<h1>Quote relations</h1>

<div id="admin_quote_relations">
  <% @admin_quote_relations.each do |admin_quote_relation| %>
    <%= render admin_quote_relation %>
    <p>
      <%= link_to "Show this quote relation", admin_quote_relation %>
    </p>
  <% end %>
</div>

<%= link_to "New quote relation", new_admin_quote_relation_path %>
