<% content_for :title, "New quote relation" %>

<h1>New quote relation</h1>

<%= render "form", admin_quote_relation: @admin_quote_relation %>

<br>

<div>
  <%= link_to "Back to quote relations", admin_quote_relations_path %>
</div>
