<% content_for :title, "Editing follow" %>

<h1>Editing follow</h1>

<%= render "form", admin_follow: @admin_follow %>

<br>

<div>
  <%= link_to "Show this follow", @admin_follow %> |
  <%= link_to "Back to follows", admin_follows_path %>
</div>
