<div class="modal-box container mx-auto flex justify-center items-center p-3">
    <div class="border border-gray-300 p-6 grid grid-cols-1 gap-6 bg-white shadow-lg rounded-lg">
        <div class="flex flex-col md:flex-row">
            <div class="contain">
                <select class="w-full border p-2 rounded contain">
                    <option>アイデアのタネ・適当なアイデア・未完のアイデア</option>
                    <option>Round-trip</option>
                    <option>Missouri</option>
                    <option>texas</option>
                </select>
            </div>
            <div class="w-full pt-6 md:pt-0 md:pl-6">
                <select class="border p-2 rounded">
                    <option>4 Passangers</option>
                    <option>3 Passangers</option>
                    <option>2 Passangers</option>
                </select>
            </div>
            <div class="w-full pt-6 md:pt-0 md:pl-6">
                <select class="border p-2 rounded">
                    <option>Economy</option>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4">
            <div class="border border-gray-200 p-2 rounded">
                <div class="flex border rounded bg-gray-300 items-center p-2 ">
                    <svg class="fill-current text-gray-800 mr-2 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path class="heroicon-ui"
                              d="M12 12a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v2z"/>
                    </svg>
                    <input type="text" placeholder="Enter text here..."
                            class="bg-gray-300 max-w-full focus:outline-none text-gray-700"/>
                </div>
            </div>
            <div class="border border-gray-200 p-2 rounded">
                <div class="flex border rounded bg-gray-300 items-center p-2 ">
                    <svg class="fill-current text-gray-800 mr-2 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path class="heroicon-ui"
                              d="M14 5.62l-4 2v10.76l4-2V5.62zm2 0v10.76l4 2V7.62l-4-2zm-8 2l-4-2v10.76l4 2V7.62zm7 10.5L9.45 20.9a1 1 0 0 1-.9 0l-6-3A1 1 0 0 1 2 17V4a1 1 0 0 1 1.45-.9L9 5.89l5.55-2.77a1 1 0 0 1 .9 0l6 3A1 1 0 0 1 22 7v13a1 1 0 0 1-1.45.89L15 18.12z"/>
                    </svg>
                    <input type="text" placeholder="Enter text here..."
                            class="bg-gray-300 max-w-full focus:outline-none text-gray-700"/>
                </div>
            </div>
            <div class="border border-gray-200 p-2 rounded">
                <div class="flex border rounded bg-gray-300 items-center p-2 ">
                    <svg class="fill-current text-gray-800 mr-2 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path class="heroicon-ui"
                              d="M14 5.62l-4 2v10.76l4-2V5.62zm2 0v10.76l4 2V7.62l-4-2zm-8 2l-4-2v10.76l4 2V7.62zm7 10.5L9.45 20.9a1 1 0 0 1-.9 0l-6-3A1 1 0 0 1 2 17V4a1 1 0 0 1 1.45-.9L9 5.89l5.55-2.77a1 1 0 0 1 .9 0l6 3A1 1 0 0 1 22 7v13a1 1 0 0 1-1.45.89L15 18.12z"/>
                    </svg>
                    <input type="text" placeholder="Enter text here..."
                            class="bg-gray-300 max-w-full focus:outline-none text-gray-700"/>
                </div>
            </div>
        </div>
        <div class="flex justify-center"><button class="p-2 border rounded-md bg-gray-800 text-white">Search</button></div>
    </div>
</div>
