<% 
  tweet_title = post.title
  # 50文字以上は省略
  tweet_content = post.content.slice!(0..49) + "..." 
%>
<%= link_to "https://twitter.com/share?url=#{CGI.escape(post_url(post))}&text=
  【タイトル】
  #{ tweet_title }
  %0a
  %0a
  【投稿内容】
  #{ tweet_content }
  %0a",
  title: 'Twitter',
  class:'fab fa-twitter', 
  target: '_blank' do %>
  <button class="btn btn-neutral py-0 px-3">
    <%= image_tag 'x_logo', class: "w-4 h-4 w-auto", alt: "アプリアイコン" %>
  </button>
<% end %>
