
<%= link_to "https://twitter.com/share?url=#{CGI.escape(post_url(post))}",
  title: 'Twitter',
  class:'fab fa-twitter', 
  target: '_blank' do %>
  <button class="btn btn-neutral py-0 px-3">
    <%= image_tag 'x_logo', class: "w-4 h-4 w-auto", alt: "アプリアイコン" %>
  </button>
<% end %>
