<p style="color: green"><%= notice %></p>

<% content_for :title, "Comment likes" %>

<h1>Comment likes</h1>

<div id="admin_comment_likes">
  <% @admin_comment_likes.each do |admin_comment_like| %>
    <%= render admin_comment_like %>
    <p>
      <%= link_to "Show this comment like", admin_comment_like %>
    </p>
  <% end %>
</div>

<%= link_to "New comment like", new_admin_comment_like_path %>
