<%= link_to comment_like_path(id: comment.id), id: "unlike-comment-button-#{ comment.id }", data: { turbo_method: :delete, disable_with: "Processing..."  }, class: "flex" do %>
  <%= image_tag 'heart_fill', class: "m-auto w-3 h-3" %>
  <span class="text-sm">
    x<%= comment.comment_likes.count %>
  </span>
<% end %> 

