<p style="color: green"><%= notice %></p>

<% content_for :title, "Post likes" %>

<h1>Post likes</h1>

<div id="admin_post_likes">
  <% @admin_post_likes.each do |admin_post_like| %>
    <%= render admin_post_like %>
    <p>
      <%= link_to "Show this post like", admin_post_like %>
    </p>
  <% end %>
</div>

<%= link_to "New post like", new_admin_post_like_path %>
