<% content_for :title, "Editing post genre" %>

<h1>Editing post genre</h1>

<%= render "form", admin_post_genre: @admin_post_genre %>

<br>

<div>
  <%= link_to "Show this post genre", @admin_post_genre %> |
  <%= link_to "Back to post genres", admin_post_genres_path %>
</div>
