<% content_for :title, "New post genre" %>

<h1>New post genre</h1>

<%= render "form", admin_post_genre: @admin_post_genre %>

<br>

<div>
  <%= link_to "Back to post genres", admin_post_genres_path %>
</div>
