<% content_for :title, "Editing post tag" %>

<h1>Editing post tag</h1>

<%= render "form", admin_post_tag: @admin_post_tag %>

<br>

<div>
  <%= link_to "Show this post tag", @admin_post_tag %> |
  <%= link_to "Back to post tags", admin_post_tags_path %>
</div>
