<p style="color: green"><%= notice %></p>

<% content_for :title, "Bookmarks" %>

<h1>Bookmarks</h1>

<div id="admin_bookmarks">
  <% @admin_bookmarks.each do |admin_bookmark| %>
    <%= render admin_bookmark %>
    <p>
      <%= link_to "Show this bookmark", admin_bookmark %>
    </p>
  <% end %>
</div>

<%= link_to "New bookmark", new_admin_bookmark_path %>
