<footer class="max-lg:hidden text-gray-800">
  <div class="container px-50 py-5 lg:w-3/4 sm:w-full mx-auto">
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <p class="text-sm text-gray-500">© Copyright 2021. All Rights Reserved.</p>
      <div class="flex mt-3 -mx-2 sm:mt-0">
        <%= link_to t('footer.privacy_policy'),
            'https://docs.google.com/document/d/1Mw0ISV8WrJR69cVw3mroH7_xkoQu14cdAXnciFkXEf0/edit?usp=sharing',
            class: "mx-2 text-xs text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" 
        %>
        <%= link_to t('footer.terms_of_service'), 
            'https://docs.google.com/document/d/1axE1V7RASr-rbVYTlIQtBq7H29IuHvma_Sw5LRXJOLg/edit?usp=sharing', 
            class: "mx-2 text-xs text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" 
        %>
        <%= link_to t('footer.contact_form'), 
            'https://docs.google.com/forms/d/e/1FAIpQLSc2eFF6LZ5ai-jXMhxjhRibqtziqlxsFmiDXTXJL_RUU4qTEQ/viewform?usp=sf_link', 
            class: "mx-2 text-xs text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" 
        %>
      </div>
    </div>
  </div>
</footer>
