<footer class="text-gray-800">
  <div class="container px-50 py-5 lg:w-1/2 sm:w-full mx-auto">
    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
      <p class="text-sm text-gray-500">© Copyright 2021. All Rights Reserved.</p>
      <div class="flex mt-3 -mx-2 sm:mt-0">
        <%= link_to t('footer.privacy_policy'), '#', class: "mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" %>
        <%= link_to t('footer.terms_of_service'), '#', class: "mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" %>
        <%= link_to t('footer.contact_form'), '#', class: "mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" %>
      </div>
    </div>
  </div>
</footer>
